<!DOCTYPE html>
 
<html lang="en"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate ="_layout">


<body>
<div layout:fragment="content">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header"><i class="fa fa fa-bars"></i> Parameters</h3>
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
        <li><i class="fa fa-bars"></i><a href="/parameters">Parameters</a></li>
        <li><i class="fa fa-square-o"></i>New category</li>
      </ol>
    </div>
  </div>
  <div class="container" >
    <div class="row">
              <div class="col-lg-12">
                <section class="panel">
                  <header class="panel-heading">
                   Add new Category
                  </header>
                  <div class="panel-body">
                    <form class="form-horizontal" th:action="@{/categories}" method="post">
                         
                                   <div class="form-group">
                        <label class="control-label col-sm-4">Category Name</label>
                        <div class="col-sm-6">
                          <input name="categoryName" type="text" size="16" class="form-control">
                        </div>
                      </div>
                    

                <button type="submit" href="/categoryAdd" class="btn btn-success">
                                Save
                              </button>
                <a href="/countries" class="btn btn-warning">
                                Exit
                              </a>
                   
                    </form>


                  </div>
                </section>
               
              </div>
  
</div>
              </div>
            </div>

</body>
</html>