<!DOCTYPE html>

<html lang="en"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="_layout">


<body>
<div layout:fragment="content">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header"><i class="fa fa fa-bars"></i> Parameters</h3>
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
        <li><i class="fa fa-bars"></i><a href="/parameters">Parameters</a></li>
        <li><i class="fa fa-square-o"></i>New state</li>
      </ol>
    </div>
  </div>
  <div class="container" style="width: 80%" >
    <div class="row">
              <div class="col-lg-12">
                <section class="panel">
                  <header class="panel-heading">
                   Add new State
                  </header>
                  <div class="panel-body">
                    <form class="form-horizontal" th:action="@{/states}" method="post">
                       
                           <div class="form-group">
                        <label class="control-label col-sm-4">Address</label>
                        <div class="col-sm-6">
                            <input  name="address"  class="form-control" size="16" type="text">
                        </div>
                      </div>
                        <div class="form-group">
                        <label class="control-label col-sm-4">City</label>
                        <div class="col-sm-6">
                          <input name="city" type="text" size="16" class="form-control">
                        </div>
                      </div>
                      
                        <div class="form-group">
                        <label class="control-label col-sm-4">Country</label>
                        <div class="col-sm-6">
                          <select   class="form-control" id="ddlCountryAdd" name="countryid">
                             <option>--SELECT--</option>
                            <option    
                            th:each="country :${countries}"
                            th:value="${country.id}"
                            th:text="${country.capital}" 
                            >
                            </option>
                          </select>
                         
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-sm-4">Description</label>

                        <div class="col-sm-6">
                          <input name="description"  type="text"  class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-4">Details</label>

                        <div class="col-sm-6">
                          <input  name="details" type="text"   class="form-control">
                        </div>
                      </div>
                 

                <button type="submit" href="/stateAdd" class="btn btn-success">
                                Save
                              </button>
                <a href="/states" class="btn btn-warning">
                                Exit
                              </a>
                   
                    </form>


                  </div>
                </section>
               
                 </div>
   
               </div>
              </div>
            </div>
</body>
</html>